<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="description" content="Drew Miller, Andrew Miller, Personal Website">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <!-- TODO favicon needs to change -->
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png">
    <script async src="static/js/require.js"></script>
</head>
<body>
<div class="container">
    <div class="row-fluid page">
        <div class="span2 offset1 sidebar">
            {% include "nav.html" %}
        </div>
        <div class="span6 post-content">
            <!--<h1>{{title}}</h1>-->
            {% block content %}
            {% endblock %}
            <hr>
            Last Build: 7/31/2016 - Copyright 2016, Andrew Miller.
            <hr>
        </div>
    </div>
</div>
</body>
</html>